{{extend name="public/base"}}
{{block name="main"}}
<div class="col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{$data.title}}</h3>
        </div>
        <div class="panel-body">
            {{$data.content|replareLineFree=###}}
        </div>
        <div class="panel-footer">
            作者:{{$data.uid}} 创建时间: {{$data.created}} 浏览量: ({{$data.view}})
        </div>
    </div>
</div>
{{/block}}
{{block name="right"}}
<div class="col-md-4">
    {{include file="blog/right"}}
</div>
{{/block}}