{{extend name="public/base"}}
{{block name="main"}}
<div class="col-md-8">
    {{volist name="list" id="vo"}}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{:url('index/blog/detail', ['id'=>$vo.id])}}">
                <h3 class="panel-title">
                    {{$vo.title}}
                </h3>
            </a>
        </div>
        <div class="panel-body">
            {{$vo.content|mb_substr=0,150}}
        </div>
        <div class="panel-footer">
            作者: {{$vo.uid}} 创建时间: {{$vo.created}} 浏览量: ({{$vo.view}})
        </div>
    </div>
    {{/volist}}
    {{$list:render()}}
</div>
{{/block}}
{{block name="right"}}
<div class="col-md-4">
    {{include file="blog/right"}}
</div>
{{/block}}