{{extend name="public/base"}}
{{block name="main"}}
<h3>用户列表</h3>
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>邮箱</td>
        <td>手机号</td>
        <td>是否是管理员</td>
        <td>创建时间</td>
        <td>操作菜单</td>
    </tr>
    {{volist name="list" id="vo"}}
    <tr>
        <td>{{$vo.id}}</td>
        <td>{{$vo.username}}</td>
        <td>{{$vo.email}}</td>
        <td>{{$vo.phone}}</td>
        <td>{{$vo.admin}}</td>
        <td>{{$vo.created}}</td>
        <td>
            <a href="#" class="btn btn-success">查看</a>
            <a href="#" class="btn btn-primary">编辑</a>
            <a href="#" class="btn btn-danger">删除</a>
        </td>
    </tr>
    {{/volist}}
</table>
{{$list->render()}}
{{/block}}